/* body {
    font-family: Arial;
     color: white;
}
.left{
    height: 100%;
    width: 200px;
    float: left;
    background-color:palegoldenrod;

}
.right{
    height: 500px;
    width: 250px;
    float: right;

}  */

body {
    font-family: Arial;
    color:black;
}

.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

.left {
    left: 0;
    background-color:gainsboro;
}

.right {
    right: 0;
    background-color:grey;
}
